@model GbRegister.Core.ViewModel.VmDormantRegister
@{
    await Html.RenderPartialAsync("GBRegistersMenu");
}

<div class="d-flex">
    @{
        await Html.RenderPartialAsync("_DormantLeftMenu");
    }

    <div class="right_side_content bg-lightorangecolor">
        <br />
        <h2 style="text-align:center;color:#b46000">New Dormant Register Entry</h2>
        <br />
        <br />
        <div class="row" style="align-items:center">
            <form asp-action="AddDormantRegister" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="RecordId" hidden />
                <input asp-for="Name" hidden />
                <input asp-for="AcctType" hidden />
                <input asp-for="AcctStatus" hidden />
                <input asp-for="CoreBranchNumber" hidden />
                <div class="row mb-3">
                    <div class="col-lg-5" style="padding-left:70px">
                        <div class="form-group">
                            <label class="form-label" asp-for="AcctNumber"></label>
                            <input asp-for="AcctNumber" type="number" class="form-control" oninput="GetAccountInfo()"/>
                            <span asp-validation-for="AcctNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label class="form-label" asp-for="Name"></label>
                            <input asp-for="Name"  class="form-control" disabled/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-5" style="padding-left:70px">
                        <div class="form-group">
                            <label class="form-label" asp-for="AcctType"></label>
                            <input asp-for="AcctType" class="form-control" disabled />
                            <span asp-validation-for="AcctType" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label class="form-label" asp-for="AcctStatus"></label>
                            <input asp-for="AcctStatus" class="form-control" disabled />
                            <span asp-validation-for="AcctStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-5" style="padding-left:70px">
                        <div class="form-group">
                            <label class="form-label" asp-for="DateRequested"></label>
                            <input type="date" asp-for="DateRequested" class="form-control" />
                            <span asp-validation-for="DateRequested" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-5" style="padding-left:8px">
                        <div class="form-group">
                            <label class="form-label" asp-for="IssuingDeptId"></label>
                            <select asp-for="IssuingDeptId" class="form-control">
                                <option value="">Select</option>
                                @foreach (var item in ViewBag.Departments)
                                {
                                    <option value="@item["DeptId"]">@item["DeptName"]</option>
                                }
                            </select>
                            <span asp-validation-for="IssuingDeptId" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-5" style="padding-left:70px">
                        <div class="form-group">
                            <label class="form-label" asp-for="Particulars"></label>
                            <textarea asp-for="Particulars" class="form-control"></textarea>
                            <span asp-validation-for="Particulars" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-left:70px">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

@section scripts {
    @*  <script type="text/javascript">
        $(document).ready(function () {
            $('body').addClass('.anything').on('click', function () {
                if ($.trim($("#txtName").val()) == "") {
                    alert("Please enter AcctNo!");
                }
                else {
                    $('body').click(function () {
                        $.ajax({
                            url: "@Url.Action("GetDormantRegister","DormantRegister")",
                            data: { acctNumber: $('#txtName').val() },
                            type: "GET",
                            dataType: "json",
                            success: function (data) {
                               const obj = JSON.parse(data);
                                $("#Name").val(obj.Name);
                                $("#Status").val(obj.AcctStatus);
                                $("#Type").val(obj.AcctType);
                                //alert(data);
                                loadData(data);
                            },
                            error: function () {
                                alert("Failed! Please try again.");
                            }
                        });
                    });
                    function loadData(data) {
                        $.each($.parseJSON(data), function (i, val) {
                            console.log(data);
                        });
                    };
                }

            });
        });

    </script> *@

}
