@{
    await Html.RenderPartialAsync("GBRegistersMenu");
}

<div class="d-flex">
    @{
        await Html.RenderPartialAsync("_DormantLeftMenu");
    }
    <div class="right_side_content">
        <div class="right_side_content">
            <div class="container-fluid">
                <div class="row" style="text-align:center;color:#b46000">
                    <div class="col-md-12">
                        <br />
                        <br />
                        <br />
                        <h3>Dormant Registry Application</h3>
                        <br />
                    </div>
                    <p style="color:black">
                        The application allows users to reactivate both Dormant and Inactive Accounts.
                        <br />
                        Please select an option from the menu on the right.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="customfooter">&copy;St.Kitts-Nevis-Anguilla National Bank 2017</footer>
