@{
    await Html.RenderPartialAsync("GBRegistersMenu");
}
<div class="right_side_content">
    <div class="right_side_content">
        <div class="container-fluid">
            <div class="row" style="text-align:center;color:#b46000">
                <div class="col-md-12">
                    <br />
                    <br />
                    <br />
                    <h3>General Banking Registries Application</h3>
                    <br />
                </div>
                <p style="color:black">
                    The application collates the regristries utilized by General Banking.
                    <br />
                    Each Registry is accessible via the menu above.
                </p>
            </div>
        </div>
    </div>
</div>

