@using static Standing_Order_Vat_App.MvcHelper.Enumration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var ucount = HttpContextAccessor.HttpContext.Session.GetString("ucount");
    var urole = HttpContextAccessor.HttpContext.Session.GetString("urole");
    var AppAccess = HttpContextAccessor.HttpContext.Session.GetString("AppAccessRoles");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Standing_Order_Vat_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/CustomStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Standing_Order_Vat_App.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/css/icofont.min.css">
    <link rel="stylesheet" href="~/lib/jquery-toast-plugin/jquery.toast.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">
    <link href="~/css/link.css" rel="stylesheet" asp-append-version="true" />


    <style>
        /* .clrclass {
            background-color: #3e8b8b;
        } */

        .notyf {
            justify-content: space-around !important;
        }
    </style>

</head>

<body style="background:#6a4e4fc9; width:100%; border-top:4px solid #897374">
    <div class="main" style="max-width:1143px; width:100%; margin:0 auto;position: relative;">
        <header>
            <div style="width: 100%;padding: 2px;background: #fff;">
                <img src="~/image/vat.jpg" style="width:100%;border: 1px solid #897374;border-bottom: 4px solid #897374;" />
            </div>
            <nav class="navbar navbarset navbar-expand-lg navbar-light bg-light align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        @{
                            if (AppAccess != null && AppAccess.Contains(ApplicationAccess.Vat.GetEnumDisplayName()))
                            {
                                <li class="nav-item1  clrclass">
                                    <a class="nav-link" asp-area="" asp-controller="StandingOrderVat" asp-action="TotalSummaryReport">
                                        Total Summary Report
                                    </a>
                                </li>
                                <li class="nav-item2">
                                    <a class="nav-link " asp-area="" asp-controller="CustomerSummary" asp-action="CustomerSummaryReport">
                                        Customer Summary Report
                                    </a>
                                </li>


                                if (ucount != null && Convert.ToInt32(ucount) > 0)
                                {
                                    if (urole.Contains("Admin"))
                                    {
                                        <li class="nav-item2 ">
                                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="ManageUser">
                                                Manage User
                                            </a>
                                        </li>
                                        <li class="nav-item2 ">
                                            <a class="nav-link " asp-area="" asp-controller="CustomServiceVAT" asp-action="InsertRecord">
                                                Services
                                            </a>
                                        </li>
                                        <li class="nav-item2 ">
                                            <a class="nav-link " asp-area="" asp-controller="OnlineBanking" asp-action="Index">
                                                E-Banking
                                            </a>
                                        </li>
                                    }
                                }
                            }
                            if (AppAccess != null && AppAccess.Contains(ApplicationAccess.Foreign_Check.GetEnumDisplayName()))
                            {
                                <li class="nav-item2 ">
                                    <a class="nav-link " asp-area="" asp-controller="GBRegister" asp-action="Index">GB Register</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </nav>

        </header>
        <div class="customcontainer p-0 m-0" style="background:#fff;min-height: 820px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        @await Component.InvokeAsync("Notyf")
        @* <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2022 - Standing_Order_Vat_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer> *@
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.tiny.cloud/1/c7k279i01d7tsc0gpthvyhrvmx25esc4qvsez3vulspnr05h/tinymce/6/tinymce.min.js"></script>
    <script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/css/bootstrap-multiselect.js"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/DormantCheck.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            highlightActiveMenuItem();
        });
        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>





