<div class="custom_navbars_link p-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="GBRegister">GB Registries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="DormantRegister" asp-action="Index">Dormant Register</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" asp-controller="FrgnChks" asp-action="Index">Foreign Checks</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link p-0" href="javascript:void(0)" onclick="return alert('Comming soon')"><img src="~/Image/help.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>