body {
}

.custom_navbars_link {
    background-color: #fae9d9;
    border-bottom: 2px solid #efd0b2;
}
.side_bar_custom {
    background-color: #fff5ec;
    border-right: 2px solid #efd0b2;
    height: 100vh;
    display: block;
    min-width: 200px;
    margin-right: 20px;
}

    .side_bar_custom a {
        padding: 6px 12px;
        text-decoration: none;
        font-size: 16px;
        color: #000;
        display: block;
    }

.right_side_content {
    /*  margin-left: 160px;*/
    overflow: hidden;
    border-radius: 8px;
    margin: 20px 0 20px 0;
}

.sidebar-wrapper a:hover {
    color: black;
}

.bg-lightorangecolor {
    background-color: #f3f3f3;
}

.date_from label {
    flex: 0 0 60px;
    font-size: 12px;
}

.main_heading {
    font-size: 24px;
    font-weight: bold;
    color: #323232;
    border-bottom: 2px solid #d1d1d1;
    margin-bottom: 0;
    padding: 14px 20px;
}


.middle-content-sec {
    padding: 20px
}

.main_btn {
    background-color: #b46000;
    border-color: #b46000;
    box-shadow: 1px 1px #000000d9;
    font-size: 16px;
}

    .main_btn:hover, .main_btn:active, .main_btn:focus {
        background-color: #ffffff !important;
        border-color: #ffffff !important;
        color: #000000;
    }

    .main_btn:focus {
        box-shadow: none;
    }

.cancel_btn {
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 1px 1px #000000d9;
    font-size: 16px;
    color:#000000
}

    .cancel_btn:hover, .cancel_btn:active, .cancel_btn:focus {
        background-color: #b46000 !important;
        border-color: #b46000 !important;
        color: #ffffff;
    }

    .cancel_btn:focus {
        box-shadow: none;
    }


.form-label-cust {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #000000
}

.form-control-cust {
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
}

.custom_tble thead tr {
    background-color: #c17935;
    color: #ffffff;
}

    .custom_tble thead tr th {
        font-size: 11px;
        font-weight: 500;
        border-color: #002c36;
        border-color: transparent;
    
    }

.custom_tble tbody tr td {
    font-size: 12px;
    font-weight: 400;
    border-color: #002c36;
    border-color: transparent;
    color: #000000;
}

.col_w1 {
    width: 114px;
}

.col_w2 {
    width: 130px;
}

.edit_icon i {
    font-size: 14px;
    color: #b46000;
}

.scroll_table {
    max-height: 338px;
    overflow-y: auto;
}

.custom_box {
    background-color: transparent;
    border-color: transparent;
    height: 28px;
    font-size: 12px;
    pointer-events: none;
}
.close_icon i {
    color: red;
    font-size: 17px;
}
.check_icon i {
    color: green;
    font-size: 15px;
}

.d_none{display:none;}

.custom_tble tbody tr:nth-child(odd) {
    background-color: #ffffff;
    color: #fff;
}

.edit_icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

tr.active .custom_box {
    background-color: #fff;
    border-color: #ddd;
    pointer-events: unset;
}

tr.active td .edit_icon {
    display:none;
}

tr.active td .d_none {
    display: block;
}

.custom_tble tbody tr td {
    border-color: transparent;
}