html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.buttonRemoveCss{
    color:#000;
    background:none;
    border:none;
}

body {
  margin-bottom: 60px;
}

.navbarset.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    display: flex;
    padding: 0 10px;
    line-height: 36px;
    justify-content: center;
}



.custom_navbars_link {
    background-color: #fae9d9;
}

    .custom_navbars_link .navbar-brand {
        color: #000;
    }

    .custom_navbars_link .navbar-nav .nav-link {
        color: #000;
        font-size: 16px
    }

    .custom_navbars_link ul .nav-link img {
        max-width: 40px;
    }
.customfooter {
    background-color: #002c36;
    text-align: center;
    color: #fff;
    height: 60px;
    vertical-align: bottom;
    padding-top: 15px;
}
.tblbg{
    background-color:white;
    padding:10px;
}
.checkHeader {
    color: white !important;
}
.spl {
    border-color: #d7b79a;
    /*width: 800px;*/
    border-width: 1px;
    border-style: solid;
    margin-top: 40px;
    min-height: 300px;
}

.demo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fae9d9;
    padding: 10px 13px;
}

    .demo a {
        font-size: 14px;
        color: #000000;
        text-decoration: none;
    }

.b-demo {
    background-color: #000000;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 20px;
    justify-content: space-between;
}

    .b-demo a {
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
    }

.b-demo-content {
    padding: 20px 20px;
}

.data_grp .form-group label {
    font-size: 13px;
    margin-bottom: 5px
}

.data_grp .form-group input {
    height: 30px;
    border-color: #878787;
    border-radius: 0;
}

.data_grp .form-group {
    margin-bottom: 15px;
}


.sub_btn {
    height: auto !important;
    border-radius: 7px !important;
    font-size: 15px;
    min-width: 98px;
}

.tblsize {
    /*display: block;*/
    width: 100%;
    /*overflow: scroll;*/
    /*overflow-y: scroll;*/
    /*height: 550px;*/
}

.vat_summary {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
}
/*.max-660{
            max-width: 600px;
        }*/

.branch label {
    width: 180px;
}

    .branch label.date-from {
        padding-right: 56px;
    }

.branch select, .branch input {
    width: 240px;
    height: 30px;
    line-height: 14px;
}

.get_report_PDF_excel_word a, .buttons button {
    height: 36px;
    font-size: 16px;
    line-height: 22px;
}

.buttons input {
    margin-left: 30px;
}

.non_select {
    flex-direction: row-reverse;
    justify-content: start;
}

.multi_section .btn-default {
    padding: 0.375rem 0.75rem;
    width: 100%;
    display: block;
    text-align: left;
    border: 1px solid #ced4da;
}

.multi_section .btn-group {
    width: 100%;
}

    .multi_section .btn-group .dropdown-menu {
        margin-top: 37px;
        width: 100%;
    }

    .multi_section .btn-group li a {
        display: block;
    }

        .multi_section .btn-group li a label {
            display: block;
            padding: 7px 13px;
        }

    .multi_section .btn-group .dropdown-toggle::after {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 10px;
    }

.navbarset .nav-link {
    font-size: 16px;
    color: #000000 !important;
    padding: 10px 16px !important;
}

.navbarset {
    background-color: #ffeede !important;
    padding: 0;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    background-color: #ffdbb8;
    font-weight: 600;
    font-size: 18px;
}
.custom_navbars_link .nav-link.active {
    background-color: #ffdbb8 !important;
    font-weight: 700;
    font-size: 18px;
}
.side_bar_custom .active{
    font-weight:800;
    font-size:17px;
}
.tblfnt{
    font-size:12px;
}