
@model GbRegister.Core.ViewModel.ForeignCheckVm
<link href="~/css/link.css" rel="stylesheet" />
<style>
    .custom_navbars_link {
        background-color: #fae9d9;
    }

        .custom_navbars_link .navbar-brand {
            color: #000;
        }

        .custom_navbars_link .navbar-nav .nav-link {
            color: #000;
            font-size: 14px
        }


        .custom_navbars_link ul .nav-link img {
            max-width: 40px;
        }

    .customfooter {
        background-color: #002c36;
        text-align: center;
        color: #fff;
        height: 60px;
        vertical-align: bottom;
        padding-top: 15px;
    }

</style>

<div class="custom_navbars_link">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GB Registries</a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="DormantRegister" asp-action="Index">Dormant Register</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link active" asp-controller="FrgnChks" asp-action="Index">Foreign Checks</a>
                    </li>
                </ul>
                <ul class="ml-0">
                    <li class="nav-item">
                        <a class="nav-link p-0" href="#"><img src="~/Image/help.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="d-flex">
    <div id="sidebar-wrapper" class="side_bar_custom">
        <div class="mt-4">
            <a input type="submit" name="ctl00$ctl00$GB_Reg_Parent_Mstr_ContPlaceHolder$btnNewSection" value="New Batch" id="GB_Reg_Parent_Mstr_ContPlaceHolder_btnNewSection" class="btn-no-style" asp-action="AddFrgnCheck">New Batch</a>
            <a input type="submit" name="ctl00$ctl00$GB_Reg_Parent_Mstr_ContPlaceHolder$btnUpdateSection" value="Update Batch" id="GB_Reg_Parent_Mstr_ContPlaceHolder_btnUpdateSection" class="btn-no-style" asp-action="UpdateFrgn">Update Batch</a>
            <a input type="submit" name="ctl00$ctl00$GB_Reg_Parent_Mstr_ContPlaceHolder$btnViewSection" value="View Batch" id="GB_Reg_Parent_Mstr_ContPlaceHolder_btnViewSection" class="btn-no-style" asp-controller="FrgnChks" asp-action="View">View Batch</a>
        </div>
    </div>
    <div class="right_side_content bg-lightorangecolor">
        <br />
        <h2 style="text-align:center;padding-right:150px;color:#b46000">Update Foreign Checks Batches</h2>
        @*<h5 style="padding-right:800px;margin-top:-4px">Search Batches</h5>*@
        <br />
        <div class="row">
            <form asp-action="UpdateFrgn" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="row" style="text-align:center">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="RecordId"></label>
                            <input asp-for="RecordId" class="form-control" />
                            <span asp-validation-for="RecordId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="CheckNumber"></label>
                            <input asp-for="CheckNumber" class="form-control" />
                            <span asp-validation-for="CheckNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="PayerAcctNumber"></label>
                            <input asp-for="PayerAcctNumber" class="form-control" />
                            <span asp-validation-for="PayerAcctNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="PayerAcctName"></label>
                            <input asp-for="PayerAcctName" class="form-control" />
                            <span asp-validation-for="PayerAcctName" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="DepositAcctNumber"></label>
                            <input asp-for="DepositAcctNumber" class="form-control" />
                            <span asp-validation-for="DepositAcctNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="DepositAcctName"></label>
                            <input asp-for="DepositAcctName" class="form-control" />
                            <span asp-validation-for="DepositAcctName" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="CheckAmount"></label>
                            <input asp-for="CheckAmount" class="form-control" />
                            <span asp-validation-for="CheckAmount" class="text-danger"></span>
                        </div>
                    </div>
                    
                </div>
                <br />
               
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" style="margin-left:315px" />
                </div>
            </form>
        </div>
    </div>
</div>

﻿